main {
  background-color: #fdfaf5;
}

header {
  background-color: #f2f2f0;
  border-bottom: solid;
  border-color: #8c7568;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.head1 h2 {
  color: #4e321a;
  font-family: abril;
  margin: 0;
  font-size: 24px;
}

.head1 h3 {
  color: #8c7568;
  font-family: lato;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: #4e321a;
}

a:hover {
  color: #8c7568;
}

footer {
  background-color: #8c7568;
}

.cta-button {
  color: #8c7568;
  background-color: #f2f2f0;
  border: solid;
  border-color: #403b35;
  border-radius: 3em;
  box-shadow: 2px 2px 2px #403b35;
  display: inline-block;
  padding: 1em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
