@media (max-width: 600px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@font-face {
  font-family: abril;
  src: url(/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: latoreg;
  src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: latobold;
  src: url(/fonts/Lato-Bold.ttf);
}

.font_1 {
  font-family: abril;
  text-align: center;
  color: #403b35;
  font-size: 30px;
}
.column {
  flex-direction: column;
  justify-content: left;
}

.header1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.head_1 {
  font-family: abril;
  color: #403b35;
  font-size: 25px;
  text-align: center;
}

.head_2 {
  font-family: latoreg;
  color: #403b35;
  font-size: 18px;
  text-align: center;
}

a {
  color: #403b35;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f0;
}

nav a {
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

nav img {
  display: flex;
  object-fit: contain;
  height: 100px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 50px;
  font-family: abril;
  font-size: 30px;
}

/* ul {
  font-family: abril;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-evenly;
  list-style: none;
  padding: 2%;
} */

.info {
  font-family: latoreg;
  font-size: 18px;
  color: #403b35;
  background-color: #f2f2f0;
  padding: 20px;
  text-align: center;
  border: solid;
  border-color: #8c7568;
  border-radius: 10cap;
  box-shadow: 2px 2px 2px #8c7568;
}

img {
  border-radius: 5%;
}

.frontimg {
  padding: 5%;
}

.info1 {
  font-family: "latoreg";
  font-size: 18px;
  width: 10%;
  text-align: left;
}

.button-wrapper {
  display: block;
  text-align: center;
  font-family: latobold;
}

.button {
  color: #8c7568;
  background-color: #f2f2f0;
  border: solid;
  border-color: #403b35;
  border-radius: 3em;
  box-shadow: 2px 2px 2px #403b35;
  display: inline-block;
  padding: 1em 2em;
  width: auto;
}

.some {
  display: flex;
  flex-direction: column;
  flex-basis: 40px;
  justify-content: right;
  list-style: none;
  padding: 2%;
}

.footer {
  background-color: #8c7568;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-evenly;
  list-style: none;
  padding: 2%;
}

.grid2_1 {
  background-color: #8c7568;
  display: grid;
  display: flex;
  flex-direction: row;
  align-items: normal;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10em;
  padding: 20px;
  margin: auto;
}

.grid2_1 {
  background-color: #8c7568;
  display: grid;
  display: flex;
  flex-direction: row;
  align-items: normal;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10em;
  padding: 20px;
  margin: auto;
}

.tut1 {
  font-family: latoreg;
  color: #403b35;
  background-color: #f2f2f0;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.tut2 {
  color: #403b35;
  background-color: #f2f2f0;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
